@charset "UTF-8";

@font-face {
    font-family: 'android';
    src: url('fontes/idroid.otf') format('opentype');
}

/* Color Theme Swatches in Hex */
.My-Color-Theme-1-hex { color: #3DDA84; }
.My-Color-Theme-2-hex { color: #2FA866; }
.My-Color-Theme-3-hex { color: #175A35; }
.My-Color-Theme-4-hex { color: #082515f1; }
.My-Color-Theme-5-hex { color: #F5402E; }



body{
    background-color: #EBE5C5;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: normal;
    margin: 0px;
}
.titulo{
    font-family: 'android';
    background-image: linear-gradient(to right, #3dda8463, #ffffff );
    padding: 1px 8px 1px 8px;
    color: #175A35;
    border-radius: 5px;
}

a{
    color: #175A35;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
}

p{
    text-align: justify;
}
